<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Jedes #s3dojo ist ein einzigartiges Erlebnis</h2>
        <hr class="light">
        <p class="text-faded">Für Gruppen, die einen ersten Kontakt mit S3 suchen, bietet ein <em>#s3dojo</em> eine fundierte Einführung in Grundlagen und Anwendung von S3, während erfahrenere Gruppen ihr bereits vorhandenes Verständnis für S3 und die zugrundeliegende Geisteshaltung erweitern und vertiefen.</p>

        <p class="text-faded">Dazu stehen vorbereitete Materialen, Module und Aktivitäten zu Einführung und Vertiefung verschiedenster Themen bereit, aus denen die Teilnehmer, nach Bedarf auswählen können, oft werden aber auch die in der Einführung erlernten Gestaltungs- und Entscheidungsmuster dazu verwendet, bestehende Module  auf die aktuelle Situation der Gruppe anzupassen oder gemeinsam neue Aktivitäten zu entwickeln.</p>

        <p class="text-faded">Im Dojo sind die Teilnehmer nicht nur Lernende, sondern übernehmen selbst auch Verantwortung für Ablauf und Umsetzung des Dojos, so können sie als Gruppe zueinander in Beziehung zu treten, kunstvolle Teilnahme praktizieren und dabei auch Muster zur Selektion und Entwicklung von Mitarbeitern einüben und erleben.</p>
        <a href="#termine" class="btn btn-default btn-xl page-scroll">Mehr Informationen und Termine!</a>
      </div>
    </div>
  </div>
</section>